body {
    background-color: rgb(207, 204, 204);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border: 0px;
}

header {
    text-align: center;
    color: rgb(8, 121, 121);
    font-size: 40px;
}

div {
    text-align: center;
    color: azure;
}

h1 {
    text-align: center;
    background-color: blue;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

h1:hover {
    transform: scale(1.2);
}