    .der {
        text-align: center;
        height: 150px;
    }
    
    .izq {
        text-align: center;
        height: 150px;
    }
    
    .principal {
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 50px;
    }
    
    .ciudad {
        text-align: center;
    }
    
    .cuestionario {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    input {
        background-color: transparent;
        border: 0px;
        border-bottom: solid 1px #a1a0a0;
        padding: 5px;
        margin-bottom: 10px;
    }
    
    button {
        border: 0px;
        padding: 5px;
        box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
    }
    
    #ConTemp {
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
        grid-gap: 20px;
    }
    
    img {
        width: 300px;
        margin-top: 30%;
    }
    
    .CloudImage {
        width: 305px;
        text-align: center
    }
    
    #temps {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    
    body {
        background-color: rgb(204, 201, 201);
    }
    
    .lupa {
        font-size: 25px;
        color: grey;
    }
    
    .lupa:active {
        color: rgb(85, 84, 84);
    }