body {
    margin: 0px;
    background-color: lightgray;
}

nav {
    width: 100%;
    padding: 16px;
    background-color: chocolate;
    box-shadow: rgba(o, 0, 0, 0.5) 1px 1px 1px;
}

button.redondo {
    border-radius: 50%;
    color: white;
}

#agregar {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: darkgrey;
}

.redondo {
    box-shadow: black 1px 1px 1px;
    height: 30px;
    width: 30px;
}

brillante {
    background-color: orange;
}

.tarjeta {
    width: 200px;
    background-color: white;
    padding: 6px;
    margin: 10px;
    box-shadow: rgba(o, 0, 0, 0.5) 1px 1px 1px;
    float: left;
}

.pre input {
    border: 0px;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 15px;
}

button:hover {
    transform: scale(1.1, 1.1);
    background-color: rgb(34, 32, 32);
    color: antiquewhite;
}

nav {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding: 0px;
}

p {
    font-family: 'Indie Flower', cursive;
}