body,
html {
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.semi {
    margin: 3%;
    height: 85%;
    background: transparent;
    background-image: none;
    background-color: bisque;
    padding: 0px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#contenedor {
    height: 95%;
    width: 95%;
    margin-top: 15%;
    margin: auto;
    padding: 0px;
    overflow: auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 2fr));
    grid-gap: 20px;
    background-color: whitesmoke;
    margin: auto;
    height: 35%;
}

#grid2 {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50%, 1fr));
}

#grid2>div {
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    overflow: auto;
}

#mail {
    grid-template-rows: repeat(auto-fill, minmax(50%, 1fr));
    padding: 0px;
}

#bio {
    text-align: center;
    height: 45%;
    margin: auto;
    margin-bottom: 0px;
    background-color: whitesmoke;
    padding: 5px;
}

#hobbies {
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    padding: 0px;
    text-align: center;
    color: rgb(59, 134, 134);
    height: 15%;
    margin-top: 20px;
    display: none;
}

#photo {
    padding: 10px;
    height: auto;
    width: 50%;
    margin: 5%;
    margin-left: 30%;
}

#elem,
.perfil {
    padding: 10px;
    height: 150px;
}

#bio {
    font-family: 'Lobster', cursive;
}

#bio>p::first-letter {
    font-size: 200%;
    color: rgb(228, 76, 5);
    font-family: 'Lobster', cursive;
}

.bio2 {
    padding: 35px;
}

.spotify {
    color: rgb(59, 134, 134);
    display: inline-block;
    margin-left: 20px;
    padding: 0px;
    margin-top: 30px;
    font-size: 25px;
}

.icon {
    font-size: 35px;
}

.centrado {
    text-align: center;
    background-color: rgb(228, 76, 5);
    color: whitesmoke;
    padding: 2%;
}

.mensaje {
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    color: rgb(228, 76, 5);
}

h1 {
    padding: 0px;
}

.superior {
    height: 5%;
}

p {
    display: inherit;
    margin: 0px;
}

.iconos {
    font-size: 40px;
    color: whitesmoke;
    margin-left: 20px;
}