#avance li.active:before,
#avance li.active:after {
    background: rgb(3, 101, 100);
    color: rgb(249, 236, 220);
}

#principal {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    margin-top: 15%;
}

#avance input,
#avance textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#principal fieldset {
    background: rgb(245, 236, 209);
    border: 0 none;
    border-radius: 9px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 80px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

#principal fieldset:not(:first-of-type) {
    display: none;
}

#avance {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}

#avance li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#avance li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

#avance li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

#avance li:first-child:after {
    content: none;
}

.titulo {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.subtitulo {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.nocolor {
    background-color: transparent;
    font-family: montserrat, arial, verdana;
}